*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--section-color-first: #fefefe;
	--section-color-second: #515a80;
	--body-color: #f0f3f5;
	--alt-color: #ef8354;
	--nav-footer-color: rgb(78, 78, 78);
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	background-color: var(--body-color);
	font-family: "Montserrat", sans-serif;
	color: #000;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.nav {
	position: fixed;
	width: 100vw;
	background-color: var(--nav-footer-color);
	z-index: 10;
}
.logo {
	margin: auto 1em;
}
.logo-img {
	width: 200px;
}

.nav-items {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: var(--nav-footer-color);
}
.active-nav {
	display: flex;
}
.link {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
.nav-items a {
	top: 64px;
	width: 100%;
	padding: 2rem;
	border: 1px solid #fff;
}
.menu-btn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem;
	margin: 1rem;
	color: var(--nav-footer-color);
	text-transform: uppercase;
	border-radius: 8px;
}
.header {
	position: relative;
	width: 100%;
	height: 500px;
	background-image: url(/dist/img/transformer-1964508_640.png);
	background-position: center;
	background-size: cover;
}
.header-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	text-align: center;
}
.header-text h1,
h2 {
	padding: 20px 0px;
	color: #fff;
}
.section-title {
	text-align: center;
	padding: 10px 0px 10px;
	font-family: "Archivo Black", sans-serif;
	font-size: 2.4em;
}
.aboutus {
	height: 100%;
	background-color: var(--section-color-first);
}
.aboutus-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.aboutus-text {
	padding: 1em;
	margin: 1em;
	text-align: center;
	font-size: 1.8em;
}

.iso-img {
	height: 200px;
	width: 250px;
	box-shadow: -9px 3px 50px -7px rgb(#f29f60, #f0cdbe, #ef8354);
}
.aboutus-hero {
	position: relative;
	width: 100%;
	height: 300px;
	background-image: linear-gradient(to left top, #f29f60, #f0cdbe, #ef8354);
}
.aboutus-hero-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}
.aboutus-hero-text {
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translate(-10%, -50%);
	text-align: left;
	font-family: "Titan One", sans-serif;
	font-size: 3rem;
	font-weight: bold;
}
.hero-text {
	padding: 20px;
	color: #fff;
}
.offers {
	height: 500px;
	background-color: var(--section-color-first);
}
.contact {
	width: 100%;
	height: 100%;
	background-color: var(--section-color-first);
}

.contact-elements {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: 1.5rem;
}
.contact-elements a {
	color: #000;
}
.contact-elements a,
.map {
	padding: 2rem;
	margin: 1rem;
}
.addres {
	width: 60%;
	margin: 2rem;
	text-align: center;
	font-size: 1.5em;
}
.addres-text {
	margin: 1rem;
}
.footer {
	height: 60px;
	line-height: 60px;
	background-color: var(--nav-footer-color);
	text-align: center;
	font-size: 1.5rem;
}
@media (min-width: 768px) {
	.nav {
		display: flex;
		justify-content: space-between;
	}
	.menu-btn {
		display: none;
	}
	.nav-items {
		display: flex;
		flex-direction: row;
	}
	.nav-items a {
		border: none;
		font-size: 1.6rem;
	}
}
